<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="#"><b>Agenda</b></a>
    </div>
    <div class="login-box-body">
      <p class="login-box-msg">Recuperar Conta</p>
      <form action="#" method="post">
        <div class="form-group has-feedback">
          <input type="email" class="form-control" placeholder="Email">
          <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        </div>
        <div class="row reset-margin-row">
          <div class="col-xs-4">
            <a routerLink="/login" class="btn btn-primary btn-block btn-flat">Recuperar</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>