<aside class="main-sidebar">
    <section class="accordion">
        <ul class="sidebar-menu tree" data-widget="tree">
            <li class="header">MENU PRINCIPAL</li>
            <li class="treeview">
                <a routerLink="/home">
                    <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                </a>
            </li>
            <li class="treeview">
                <a routerLink="/contato">
                    <i class="fa fa-user"></i> <span>Novo Contato</span>
                </a>
            </li>
            <li class="treeview">
                <a routerLink="/contato-list">
                    <i class="fa fa-users"></i> <span>Listar Contatos</span>
                </a>
            </li>
            <li>
                <a routerLink="/perfil">
                    <i class="fa fa-circle-o"></i> <span>Perfil</span>
                </a>
            </li>
            <li>
                <a routerLink="#">
                    <i class="fa fa-calendar"></i> <span>Aniversariantes</span>
                </a>
            </li>
        </ul>
    </section>
</aside>